{% extends "blog/base.html" %}
{% load blog_tags %}
{% load static %}

{% block title %}
  {{ bird.name }}
{% endblock %}

{% block content %}
  <div class="bird-detail">
    <img src="{% if bird.image %}{{ bird.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" alt="">
    <audio controls loop="loop">
        <source src="{% if bird.sound %}{{ bird.sound.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" type="audio/mpeg">
    </audio>
    <h1>{{ bird.name }}</h1>
    <h2>
        <a href="{{ bird.category.get_absolute_url }}">{{ bird.category }}</a>
    </h2>
    {{ bird.description|markdown }}
  </div>
{% endblock %}